* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body{
    font-family: Arial, sans-serif;
    background: #f4f4f9;
}


.Calc{
    background: #222;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    width: 320px;
    margin: 5rem auto;
}


.numButton{
    background-color: blueviolet;
    color: white;
    width: 60px;
}

.numButton:hover{
    background-color: rgb(168, 170, 0);
    color:brown;
    transition: all 0.5s ease-in-out;
}

button {
    font-size: 1.2em;
    padding: 12px;
    margin: 5px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.2s ease;
}

button:hover {
    transition: all 0.5s ease;
}

.numberButtz{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    color:brown;
    margin-block: 1rem 0;
}

.opButton{
    background-color: rgb(142, 104, 178);
    color:brown;
    width: 60px;
}

.opButton:hover{
    background-color: rgb(168, 170, 0);
    color:brown;
}

#clear-btn{
    background-color: #ba0c2f;
    color: #f2f2f2;
    caret-color: transparent;
}

#clear-btn:hover{
    background: white;
    color: #ba0c2f;
    outline: 1px solid #ba0c2f;
    transition: background 0.5s ease;
}

#display{
    background: #000;
    color: #0f0;
    font-size: 1.4em;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    text-align: right;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*add some lacy edges to the displays to make em look cooler or like nicer, idk*/
#QDisplay{
    background-color: blueviolet;
    color:white;
}
#DDisplay{
    background-color: blueviolet;
    color:white;
}
#toggleDisplay{
    background-color: rgb(142, 104, 178);;
    color: brown;
    caret-color: transparent;
}
#toggleDisplay:hover{
    background-color: rgb(168, 170, 0);
    color:brown;
}

#extraPadding{
    padding-bottom: 2em;
}

#catPic{
    opacity: 0;
    position: absolute;
    top: 20px;
}

.clearEqualsButtons {
    display: flex;
    justify-content: space-between;
}